{
  // "presets": ["es2015"],
  // "plugins": ["transform-decorators-legacy"],
  "presets": [["es2015", { "modules": false }]],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}