.wrapper {
    width: 800px;
    height: 400px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #fff;
    color: black;
    border: 1px solid #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.comment-input {
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
}
.comment-field {
    display: flex;
}
.comment-field-button button {
    background-color: aquamarine;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.comment-field-input *  {
    outline: none;
    width: 200px;
}
.comment-field-input input {
    height: 30px;
}
.comment-field-input.textarea {
    height: 40px;
}
.comment {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.comment-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
