@charset "UTF-8";


.ny-banner.about1 {
	width:100%;
	height:860px;
	position:relative;
	transition:all ease .5s;
}
.ny-banner .img {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	left:0;
	top:0;
}
.ny-banner .img img {
	max-width:initial;
	width:auto;
	height:100%;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
}
.ny-banner .boxs {
	position:relative;
	max-width:1600px;
	height:100%;
	z-index:2;
	margin:auto;
	color:#fff;
}
.ny-banner.about1 .boxs.n1 {
	padding-top:340px;
	letter-spacing:2px;
	transition:all ease .5s;
}
.ny-banner.about1 .boxs.n1 .t1 {
	font-size:48px;
	font-weight:bold;
	line-height:72px;
}
.ny-banner.about1 .boxs.n1 .t2 {
	font-size:22px;
	line-height:44px;
}

.ny-banner {
	width:100%;
	height:540px;
	position:relative;
	transition:all ease .5s;
}
.ny-banner .boxs {
	position:relative;
	max-width:1600px;
	height:100%;
	z-index:2;
	margin:auto;
	color:#fff;
}
.ny-banner .boxs.n1 {
	padding-top:275px;
	letter-spacing:2px;
	transition:all ease .5s;
}
.ny-banner .boxs.n1 .t1 {
	font-size:36px;
	font-weight:bold;
	line-height:1;
}
.ny-banner .boxs.n1 .t2 {
	font-size:16px;
	line-height:30px;
	margin-top:12px;
}

.ny-banner .boxs.n2 .box {
	width:100%;
	padding-bottom:76px;
	position:absolute;
	left:0;
	bottom:60px;
}
.ny-banner .boxs.n2 .box .t1 {
	font-size:30px;
	line-height:30px;
	font-weight:bold;
	color:#fff;
}
.ny-banner .boxs.n2 .box .t2 {
	width:70%;
	font-size:14px;
	line-height:24px;
	color:#fff;
	margin-top:14px;
}

.ny-banner .boxs .breadcrumbs {
	position:absolute;
	right:0;
	bottom:0;
	line-height:60px;
	font-size:14px;
	color:#7e7e7e;
	letter-spacing:2px;
	padding-left:25px;
	background:url(../images/icon23.png) left center no-repeat;
}
.ny-banner .boxs .breadcrumbs a {
	color:#7e7e7e;
	transition:all ease .3s;
}
.ny-banner .boxs .breadcrumbs a:hover {
	color:#fff;
}
.ny-banner .boxs .breadcrumbs span {
	color:#fff;
}
.ny-banner .nb-menu {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:60px;
	background:rgba(0,0,0,.25);
}
.ny-banner .nb-menu ul {
	max-width:1600px;
	margin:auto;
	padding-top:13px;
	position:relative;
	z-index:5;
}
.ny-banner .nb-menu ul li {
	float:left;
	margin-right:3px;
}
.ny-banner .nb-menu ul li a {
	font-size:14px;
	color:#fff;
	line-height:35px;
	padding:0 20px;
	display:block;
	transition:all ease .3s;
	border-radius:15px;
}
.ny-banner .nb-menu ul li:hover a {
	color:#222;
	background:#fff;
}
.ny-banner .nb-menu ul li.on a {
	color:#222;
	background:#fff;
}

.index-data {
	position: relative;
	overflow: hidden;
	width:100%;
	padding:0 7.8%;
}
.index-data .index-data-list {
	width: 100%;
	padding:120px 0 0;
}

.data-background {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
}

.index-data .item {
	float: left;
	width: 33.33%;
	height: 280px;
}

.index-data .item-inner {
	position: relative;
	height: 280px;
	text-align: center;
	border-right: 1px solid rgba(255,255,255,.2);
}

.index-data .item:nth-child(3n) .item-inner {
	border-right: 0;
}

.index-data .item:first-child .item-inner,
.index-data .item:nth-child(2) .item-inner,
.index-data .item:nth-child(3) .item-inner {
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.index-data .text-wrap {
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 16px;
	color: #fff;
	transform: translateY(-50%);
}

.index-data .text-wrap .number-wrap {
	display: block;
	font: normal 108px/1 'AkzidenzGrotesk-BoldCondAlt';
	color: #fff;
	letter-spacing:2px;
}

.index-data .text-wrap .number-wrap strong.icon {
	display: inline-block;
	font-size: 72px;
	vertical-align: 13px;
}


.about {
	width:100%;
}

.about1 {
	width:100%;
	height:625px;
	text-align:center;
	padding-top:70px;
}
.about1 .title {
	font-family: 'gotham-Bold';
	font-size:48px;
	line-height:66px;
	color:#222;
}
.about1 .txt {
	width:900px;
	margin:auto;
	font-size:14px;
	line-height:28px;
	color:#222;
	margin-top:22px;
}
.about1 .icon {
	margin-top:40px;
}

.about2 {
	width:100%;
	height:800px;
	background:url(../images/abg1.jpg) center center no-repeat;
	background-size:auto 100%;
	text-align:center;
	padding:100px 7.8% 0;
}
.about2 .title {
	font-weight:bold;
	font-size:36px;
	color:#fff;
	line-height:1;
}
.about2 .txt {
	width:620px;
	margin:23px auto 0;
	font-size:14px;
	line-height:24px;
	color:#fff;
}
.about2 .certificate {
	width:100%;
	position:relative;
	padding:0 80px;
	margin-top:133px;
}
.about2 .certificate .prev, .about2 .certificate .next {
	width:60px;
	height:60px;
	border-radius:50%;
	border:2px solid #fff;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	cursor:pointer;
	transition:all ease .5s;
}
.about2 .certificate .prev {
	background:url(../images/aicon1.png) center center no-repeat;
	left:0;
}
.about2 .certificate .prev:hover {
	border:2px solid #000;
	background:#000 url(../images/aicon1.png) center center no-repeat;
}
.about2 .certificate .next {
	background:url(../images/aicon2.png) center center no-repeat;
	right:0;
}
.about2 .certificate .next:hover {
	border:2px solid #000;
	background:#000 url(../images/aicon2.png) center center no-repeat;
}

.about3 {
	width:100%;
	display:table;
	margin-top:10px;
}
.about3 .tbox {
	width:50%;
	float:left;
	padding-left:7.8%;
	padding-top:207px;
}
.about3 .tbox .title {
	font-size:36px;
	font-weight:bold;
	color:#222;
	line-height:1;
}
.about3 .tbox .txt {
	width:80%;
	font-size:14px;
	line-height:28px;
	color:#222;
	margin-top:20px;
}
.about3 .tbox .more {
	margin-top:72px;
	width:60px;
	height:60px;
	border-radius:50%;
	border:2px solid #222;
	background:url(../images/aicon4.png) center center no-repeat;
	display:block;
	transition:all ease .5s;
}
.about3 .tbox .more:hover {
	background:#222 url(../images/aicon3.png) center center no-repeat;
}
.about3 .img {
	width:50%;
	float:right;
	overflow:hidden;
}
.about3 .img img {
	width:100%;
	transition:all ease 1s;
}
.about3:hover .img img {
	transform:scale(1.05);
}

.about4 {
	width:100%;
	display:table;
	margin-top:10px;
	background:#f4f4f4;
}
.about4 .img {
	width:50%;
	float:left;
	overflow:hidden;
}
.about4 .img img {
	width:100%;
	transition:all ease 1s;
}
.about4:hover .img img {
	transform:scale(1.05);
}
.about4 .tbox {
	width:50%;
	padding:207px 0 0 7.8%;
	float: right;
}
.about4 .tbox .title {
	font-size:36px;
	font-weight:bold;
	color:#222;
	line-height:1;
}
.about4 .tbox .txt {
	width:80%;
	font-size:14px;
	line-height:28px;
	color:#222;
	margin-top:20px;
}
.about4 .tbox .more {
	margin-top:72px;
	width:60px;
	height:60px;
	border-radius:50%;
	border:2px solid #222;
	background:url(../images/aicon4.png) center center no-repeat;
	display:block;
	transition:all ease .5s;
}
.about4 .tbox .more:hover {
	background:#222 url(../images/aicon3.png) center center no-repeat;
}

.about5 {
	width:100%;
	height:343px;
	text-align:center;
	padding-top:80px;
}
.about5 .title {
	font-size:36px;
	font-weight:bold;
	color:#222;
}
.about5 .txt {
	font-size:14px;
	line-height:28px;
	color:#222;
	margin-top:22px;
}
.about5 .link {
	width:161px;
	height:55px;
	line-height:55px;
	border-radius:27px;
	background:#2e9ec2 url(../images/aicon5.png) 108px center no-repeat;
	display:block;
	margin:42px auto 0;
	text-align:left;
	padding-left:35px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}


.course {
	width:100%;
	min-height:1040px;
	background:url(../images/abg2.jpg) center center no-repeat;
	background-size:auto 100%;
	padding-left:15%;
}
.course ul {
	width:100%;
	height:100%;
	min-height:1040px;
	background:url(../images/abg3.png) 25.15% 80px no-repeat;
	padding-top:150px;
}
.course li {
	width:100%;
	display:table;
}
.course li.l1 {
	padding-left:53.3%;margin-bottom:67px;
}
.course li.l2 {
	padding-left:50.4%;margin-bottom:17px;
}
.course li.l3 {
	padding-left:39.2%;margin-bottom:64px;
}
.course li.l4 {
	padding-left:36.3%;margin-bottom:11px;
}
.course li.l5 {
	padding-left:24.1%;margin-bottom:47px;
}
.course li.l6 {
	padding-left:18.75%;margin-bottom:50px;
}
.course li.l7 {
	padding-left:17%;margin-bottom:17px;
}
.course li.l8 {
	padding-left:8%;
}
.course li .year {
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	color:#222;
	float:left;
}
.course li .dian {
	width:17px;
	height:17px;
	border:1px solid #30b1da;
	border-radius:50%;
	float:left;
	position:relative;
	margin:5px 20px 0;
}
.course li .dian:after {
	width:9px;
	height:9px;
	border-radius:50%;
	background:#21abd7;
	content:"";
	position:absolute;
	left:3px;
	top:3px;
}
.course li .tbox {
	float:left;
	font-size:16px;
	line-height:24px;
	color:#222;
}
.course li .tbox .t1 {
	font-weight:bold;
}
.course li .tbox .t2 {
	margin-top:5px;
}


.staff-corner {
	width:100%;
	padding:0 7.8%;
	background:#f7f7f7;
}
.staff-corner .year {
	width:100%;
	display:table;
	padding-top:55px;
}
.staff-corner .year li {
	float:left;
	font-size:36px;
	color:#999;
	font-family: 'Gotham-Bold';
	margin-right:35px;
	cursor:pointer;
	transition:all ease .5s;
}
.staff-corner .year li:hover {
	color:#222;
}
.staff-corner .year li.on {
	color:#222;
}
.staff-corner .year-box {
	width:100%;
	padding:44px 0 70px;
}
.staff-corner .year-box .box1 {
	width:100%;
	display:table;
	margin-bottom:10px;
}
.staff-corner .year-box .box1 .things1 {
	width:38%;
	float:left;
	position:relative;
}
.staff-corner .year-box .box1 .things1 a {
	display:block;
}
.staff-corner .year-box .box1 .things1 .img {
	width:100%;
	overflow:hidden;
}
.staff-corner .year-box .box1 .things1 .img img {
	width:100%;
	transition:all ease 1s;
}
.staff-corner .year-box .box1 .things1:hover .img img {
	transform:scale(1.05);
}
.staff-corner .year-box .box1 .things1 .tbox {
	line-height:1;
	position:absolute;
	left:30px;
	bottom:27px;
	z-index:2;
}
.staff-corner .year-box .box1 .things1 .tbox .t1 {
	font-size:22px;
	font-weight:bold;
	color:#fff;
}
.staff-corner .year-box .box1 .things1 .tbox .t2 {
	font-size:16px;
	color:#fff;
	font-family: 'gotham-medium';
	margin-top:13px;
}
.staff-corner .year-box .box1 .things2 {
	width:100%;
	/* float:left; */
}
.staff-corner .year-box .box1 .things2 .box2 {
	width:calc(20.6% - 10px);
	margin-left:10px;
	position:relative;
	float:left;
	background:#fff;
}
.staff-corner .year-box .box1 .things2 .box2 a {
	width:100%;
	height:100%;
	display:block;
}
.staff-corner .year-box .box1 .things2 .box2 .img {
	width:100%;
	overflow:hidden;
}
.staff-corner .year-box .box1 .things2 .box2 .img img {
	width:100%;
	transition:all ease 1s;
}
.staff-corner .year-box .box1 .things2 .box2:hover .img img {
	transform:scale(1.05);
}
.staff-corner .year-box .box1 .things2 .box2 .tbox {
	height:50%;
	padding-top:30%;
	padding-left:30px;
}
.staff-corner .year-box .box1 .things2 .box2 .tbox .t1 {
	font-size:22px;
	font-weight:bold;
	color:#222;
}
.staff-corner .year-box .box1 .things2 .box2 .tbox .t2 {
	font-size:16px;
	color:#222;
	font-family: 'gotham-medium';
	margin-top:13px;
}


.job {
	width:100%;
	padding:30px 7.8% 60px;
	background:#f7f7f7;
}
.job li {
	width:100%;
	display:table;
	background:#fff;
	margin-bottom:20px;
}
.job li .tbox {
	width:50%;
	float:left;
	padding-left:70px;
	padding-top:129px;
}
.job li .tbox .t1 {
	font-size:36px;
	font-weight:bold;
	color:#222;
}
.job li .tbox .t2 {
	font-size:14px;
	line-height:24px;
	color:#222;
	width:65%;
	margin-top:24px;
}
.job li .tbox .more {
	width:60px;
	height:60px;
	border-radius:50%;
	border:2px solid #222;
	background:url(../images/aicon4.png) center center no-repeat;
	display:block;
	transition:all ease .5s;
	margin-top:74px;
}
.job li .tbox .more:hover {
	background:#222 url(../images/aicon3.png) center center no-repeat;
}
.job li .img {
	width:50%;
	float:right;
	overflow:hidden;
}
.job li .img img {
	width:100%;
	transition:all ease 1s;
}
.job li:hover .img img {
	transform:scale(1.05);
}
.job li:nth-child(2n) .tbox {
	float:right;
}
.job li:nth-child(2n) .img {
	float:left;
}


.job-info {
	width:100%;
	padding:30px 7.8% 60px;
	background:#f7f7f7;
}
.job-info .box {
	width:100%;
	position:relative;
	background:#fff;
	padding:52px 50px 50px;
}
.job-info .box .title {
	font-size:36px;
	font-weight:bold;
	color:#222;
	line-height:1;
}
.job-info .box .txt {
	font-size:14px;
	line-height:30px;
	color:#222;
	margin-top:40px;
}
.job-info .box .txts {
	font-size:14px;
	line-height:30px;
	color:#222;
	margin-top:30px;
}
.job-info .box .txts span {
	
}
.job-info .box .email {
	width:100%;
	height:70px;
	background:#f7f7f7;
	line-height:70px;
	padding-left:30px;
	font-size:14px;
	font-weight:bold;
	margin-top:50px;
}
.job-info .box .back {
	position:absolute;
	top:40px;
	right:50px;
	width:50px;
	height:50px;
	background:url(../images/aicon6.png) center center no-repeat;
	background-size: 100%;
}
.job-info .list {
	width:100%;
	display:table;
	margin-top:20px;
}
.job-info .list li {
	width:calc(33.3% - 14px);
	float:left;
	margin-right:21px;
	transition:all ease 1s;
}
.job-info .list li:hover {
	box-shadow:0 0 25px 0 rgba(0,0,0,.1);
}
.job-info .list li:nth-child(3n) {
	margin-right:0;
}
.job-info .list li a {
	display:block;
}
.job-info .list li .img {
	width:100%;
	overflow:hidden;
}
.job-info .list li .img img {
	width:100%;
	transition:all ease 1s;
}
.job-info .list li:hover .img img {
	transform:scale(1.05);
}
.job-info .list li .tbox {
	width:100%;
	height:228px;
	background:#fff;
	padding:27px 40px 0;
}
.job-info .list li .tbox .t1 {
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	color:#222;
}
.job-info .list li .tbox .t2 {
	font-size:14px;
	line-height:24px;
	color:#222;
	margin-top:24px;
}
.job-info .list li .tbox .icon {
	height:10px;
	background:url(../images/aicon7.png) left center no-repeat;
	transition:all ease 1s;
	margin-top:35px;
}
.job-info .list li:hover .tbox .icon {
	background:url(../images/aicon8.png) left center no-repeat;
}

/*--------footer--------*/
footer {
	width:100%;
}

.foot-top {
	width:100%;
	min-height:365px;
	padding:60px 7.8% 18px;
	display:table;
	background:url(../images/f-bg1.jpg) center center no-repeat;
	background-size:auto 100%;
}
.foot-top li {
	width:22%;
	float:left;
	margin-right:2.6%;
}
.foot-top li:last-child {
	margin-right:0;
}
.foot-top li .title {
	font-size:14px;
	line-height:28px;
	color:#fff;
	font-weight:bold;
	border-bottom:1px solid rgba(255,255,255,.08);
	padding-bottom:12px;
}
.foot-top li .tbox {
	font-size:14px;
	line-height:28px;
	padding-top:22px;
}
.foot-top li .tbox .txt {
	color:#999;
}
.foot-top li .tbox .more {
	width:96px;
	height:32px;
	border:1px solid #504f4f;
	border-radius:16px;
	display:block;
	color:#666;
	font-size:12px;
	margin-top:32px;
	padding-left:20px;
	background:url(../images/f-icon4.png) 62px center no-repeat;
	transition:all ease .5s;
}
.foot-top li .tbox .more:hover {
	border:1px solid #fff;
	color:#fff;
	background:url(../images/f-icon5.png) 62px center no-repeat;
}
.foot-top li .tbox .link {
	width:50%;
	display:block;
	color:#999;
	float:left;
	transition:all ease .5s;
}
.foot-top li .tbox .link:hover {
	color:#fff;
}
.foot-top li .tbox li {
	width:100%;
	display:table;
	padding:12px 0;
	border-bottom:1px dashed #494848;
}
.foot-top li .tbox li:last-child {
	border:none;
}
.foot-top li .tbox li .img {
	width:90px;
	float:left;
}
.foot-top li .tbox li .tboxs {
	width:calc(100% - 110px);
	float:right;
	font-size:14px;
	line-height:28px;
	color:#999;
}
.foot-top li .tbox li .tboxs .t1 {
	color:#fff;
	font-weight:bold;
}
.foot-top li .tbox li .tboxs .t2 {
	width:100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.foot-center {
	width:100%;
	padding:60px 7.8% 18px;
	display:table;
	min-height:220px;
	background:#222;
	color:#999;
}
.foot-center li {
	width:22%;
	float:left;
	margin-right:2.6%;
}
.foot-center li:last-child {
	margin-right:0;
}
.foot-center li .f-ewm {
	width:100px;
	margin-right:10px;
	float:left;
}
.foot-center li .tbox {
	display:inline-block;
	line-height:28px;
}
.foot-center li .tbox.ewm {
	padding-top:22px;
}
.foot-center li .tbox.tel {
	padding:6px 0 0 45px;
	background:url(../images/f-icon1.png) left 8px no-repeat;
}
.foot-center li .tbox.sz {
	padding:8px 0 0 45px;
	background:url(../images/f-icon2.png) left 4px no-repeat;
}
.foot-center li .tbox.gz {
	padding:8px 0 0 45px;
	background:url(../images/f-icon3.png) left top no-repeat;
}

.foot-center li .tbox .t1 {
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
.foot-center li .tbox .t2 {
	
}


.foot-button {
	width:100%;
	padding:30px 7.8% 18px;
	display:table;
}
.foot-button .link-box {
	width:88%;
	float:left;
}
.foot-button .link-box .a-box {
	width:100%;
}
.foot-button .link-box .a-box a {
	font-size:12px;
	line-height:30px;
	color:#666;
	margin-right:20px;
	transition:all ease .5s;
}
.foot-button .link-box .a-box a:hover {
	color:#222;
}
.foot-button .link-box .copyright {
	line-height:28px;
	color:#999;
	margin-top:10px;
	display: block;
}
.foot-button .link-box .copyright a {
	color:#999;
}
.foot-button .makelink {
	width:106px;
	height:30px;
	border:1px solid #e4e4e4;
	text-align:center;
	line-height:28px;
	display:block;
	color:#999;
	float:right;
	transition:all ease .5s;
}
.foot-button .makelink:hover {
	color:#222;
}
@media(max-width:1370px) {
	.foot-top li .tbox .txt,.foot-top li .tbox .link,.foot-top li .tbox li .tboxs .t2 {
		font-size:12px;
	}
}
/*-------footer-end--------*/


@media(max-width:1660px) {
	.ny-banner .boxs,.news-info,.news .box1,.news .list1,.page-list {
		margin:0 30px;
	}
	.case-tj {
		margin:60px 30px 0;
	}
	.ny-banner .nb-menu {
		padding-left:30px;
	}
}
@media(max-width:1370px) {
	.ny-banner.about1 {
		height:580px;
	}
	.ny-banner.about1 .img img {
		width:100%;
	}
	.ny-banner .boxs.n1 {
		padding-top:250px;
	}

	.ny-banner {
		height:380px;
	}
	.ny-banner .boxs.n1 {
		padding-top:193px;
	}


	.index-data .index-data-list {
		padding:60px 0 0 ;
	}
	.index-data .item,.index-data .item-inner {
		height:200px;
	}


	.design .list li .tbox .t2 {
		padding:0 12%;
	}
	.relevant-information .list li {
		    padding: 20px 20px 0;
	}

	.microsite .box1 .tbox {
		padding-top:130px;
	}
	.microsite .box2,.microsite .box3,.microsite .box4 {
		height:580px;
	}
	.microsite .box2 .tbox {
		padding-top:160px;
	}
	.microsite .box3 .img {
		width:60%;
	}
	.microsite .box3.active .img {
		top:-255px;
	}
	.microsite .box3 .tbox {
		padding-top:230px;
	}
	.microsite .box4 .tbox {
		padding-top:230px;
	}
	.microsite .box1 .tbox .t2,.microsite .box2 .tbox .t2,.microsite .box3 .tbox .t2,.microsite .box4 .tbox .t2 {
		font-size:18px;
	}

	

	.course {
		padding-left: 10%;
	}
	.course li.l1 {
		padding-left: 62.6%;
	}
	.course li.l1 .tbox {
		width:62%;
	}
	.course li.l2 {
		padding-left: 53.7%;
	}
	.course li.l3 {
		padding-left: 42.9%;
	}
	.course li.l4 {
		padding-left: 37.5%;
	}
	.course li.l5 {
		padding-left: 22.8%;
	}
	.course li.l6 {
		padding-left: 15.6%;
	}
	.course li.l7 {
		padding-left: 11.7%;
	}
	.course li.l8 {
		padding-left: 0.3%;
	}

	.about3 .tbox {
		padding-top:107px;
	}
	.about4 .tbox {
		padding:107px 0 0 7.8%;
	}

	.job li .tbox {
		padding-top:69px;
	}





}
@media(max-width:1330px) {
	.ny-banner .boxs.n1 .breadcrumbs {
		display:none;
	}

	.job{
		padding: 30px 3% 60px;
	}
	.staff-corner{
		padding: 0 3%;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox{
		padding-top: 15%;
		padding-left: 15px;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox .t1{
		font-size: 18px;
	}

	.course{
		padding: 0 3%;
		min-height: auto;
		background: none;
	}
	.course ul{
		background: none;
		min-height: auto;
		padding: 50px 0;
	}
	.course li.l1,
	.course li.l2,
	.course li.l3,
	.course li.l4,
	.course li.l5,
	.course li.l6,
	.course li.l7,
	.course li.l8{
		padding-left: 0;
		margin-bottom: 15px;
	}






	.foot-top{
		padding: 60px 3.8% 18px;
	}
	.foot-top li{
		margin-right: 2%;
	}
	.foot-top li{
		width: 23%;
	}

	.job-info{
		padding: 30px 3% 60px;
	}



}
@media(max-width:1200px) {
	.ny-banner .boxs.n2 .box .t2 {
		padding:10px;
		line-height:30px;
	}

	.about3 .tbox{
		padding-top: 80px;
	}
	.about3 .tbox .more{
		margin-top: 10px;
	}

	.job li .tbox{
		padding-top: 50px;
		padding-left: 30px;
	}
	.job li .tbox .t1{
		font-size: 24px;
	}
	.job li .tbox .t2{
		width: 95%;
	}
	.job li .tbox .more{
		width: 50px;
		height: 50px;
		margin-top: 20px;
	}




}


@media (max-width: 960px){

	.index-data .text-wrap .number-wrap{
		font: normal 90px/1 'AkzidenzGrotesk-BoldCondAlt'
	}

}

@media (max-width: 900px){
	
	.about1 .txt{
		width: 100%;
		padding: 0 30px;
	}

	.about3 .tbox {
		padding-top: 30px;
	}
	.about3 .tbox .title, .about4 .tbox .title, .about5 .title {
		font-size: 26px;
	}
	.about3 .tbox .txt {
		line-height: 24px;
		margin-top: 10px;
	}
	.about3 .tbox .more {
		width: 45px;
		height: 45px;
	}
	.about4 .tbox{
		padding: 68px 0 0 7.8%;
	}
	.about4 .tbox .more{
		margin-top: 40px;
		width: 45px;
		height: 45px;
	}

	.ny-banner .boxs.n1 .t1{
		font-size: 24px;
	}
	.job li .tbox{
		padding-top: 30px;
	}
	.job li .tbox .t2{
		margin-top: 10px;
	}


	.foot-top li{
		width: 32%;
		margin-right: 2%;
	}
	.foot-top li:nth-child(3){
		margin-right: 0;
	}
	.foot-top li:last-child{
		display: none;
	}
	.foot-center{
		padding: 25px 2% 18px;
	}
	.foot-center li .tbox.tel{
		padding: 8px 0 0 30px;
		background-size: 22px;
	}
	.foot-center li .tbox.sz,
	.foot-center li .tbox.gz{
		padding: 8px 0 0 30px;
	}

	.index-data .index-data-list{
		padding: 25px 0 0;
	}

	.course li{
		display: flex;
	}
	.course li .tbox{
		width: 65%;
	}

	.staff-corner .year-box .box1{
		margin-bottom: 0;
	}
	.staff-corner .year-box .box1 .things2{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.staff-corner .year-box .box1 .things1{
		width: calc(50% - 5px);
		margin-bottom: 10px;
	}
	.staff-corner .year-box .box1 .things1 .tbox .t1{
		font-size: 18px;
	}
	.staff-corner .year-box .box1 .things2 .box2{
		width: calc(50% - 5px);
		margin-left: 0;
		margin-bottom: 10px;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox{
		line-height: 1;
		position: absolute;
		left: 30px;
		bottom: 27px;
		z-index: 2;
		padding-top: 0;
		padding-left: 0;
		height: auto;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox .t1{
		color: #fff;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox .t2{
		color: #fff;
	}

	.staff-corner .year-box .box1 .things2 .box2 .img{
		height: 100%;
	}
	.staff-corner .year-box .box1 .things2 .box2 .img img{
		height: 100%;
		max-width: initial;
	}

	.job-info .list{
		display: none;
	}

}

@media (max-width: 767px){

	.foot-top{
        display:none;
	}
	.foot-center{
		display: none;
	}

	.foot-button{
		padding: 15px 3%;
	}
	.foot-button .link-box .copyright{
		text-align: center;
		margin-top: 0;
	}
	.about-address{
		display: none;
	}


	.ny-banner.about1{
		height: 460px;
	}

	.index-data .text-wrap .number-wrap {
		font: normal 40px/1 'AkzidenzGrotesk-BoldCondAlt';
	}

	.index-data .text-wrap .number-wrap .icons {
		font-size: 42px;
		vertical-align: 2px;
	}

	.index-data .item, .index-data .item-inner{
		height: 160px;
	}

	.about1{
		height: 540px;
	}
	.about1 .title{
		font-size: 32px;
		line-height: 42px;
	}
	.about1 .txt{
		line-height: 22px;
	}
	.about1 .icon{
		width: 60%;
		margin: 40px auto 0;
	}

	.about2{
		width: 100%;
		height: 500px;
		padding: 80px 7.8% 0;
	}
	.about2 .title{
		font-size: 26px;
	}
	.about2 .txt{
		width: 100%;
	}
	.about2 .certificate .prev, .about2 .certificate .next{
		width: 40px;
		height: 40px;
	}
	.about2 .certificate{
		padding: 0px 50px;
		margin-top: 50px;
	}
    
	.about3 .tbox{
		width: 100%;
		padding: 30px;
	}
	.about3 .img{
		width: 100%;
	}

	.about4 .tbox{
		width: 100%;
		float: left;
		padding: 50px 0 50px 7.8%;
	}
	.about4 .img{
		width: 100%;
		float: right;
	}

	.about5 .txt{
		padding: 0 30px;
		line-height: 22px;
	}
	.about5 .link{
		line-height: 40px;
		height: 40px;
		border-radius: 27px;
		margin: 25px auto 0;
	}

	.ny-banner .boxs.n1 .t1{
		font-size: 20px;
	}
	.ny-banner .boxs.n1 .t2 {
		font-size: 14px;
		line-height: 26px;
	}
	.ny-banner .nb-menu{
		height: 50px;
	}
	.ny-banner .nb-menu ul{
		padding-top: 10px;
	}
	.ny-banner .nb-menu ul li a{
		line-height: 30px;
	}

	.job li{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.job li .tbox{
		width: 100%;
		padding: 20px;
	}
	.job li .img{
		width: 100%;
	}


	.course li .year{
		width: 70px;
	}
	.course li .tbox{
		width: 62%;
	}


	.staff-corner .year-box .box1 .things1 .tbox{
		left: 15px;
		bottom: 15px;
	}
	.staff-corner .year-box .box1 .things1 .tbox .t1{
		font-size: 14px;
	}
	.staff-corner .year-box .box1 .things1 .tbox .t2{
		font-size: 12px;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox{
		left: 15px;
		bottom: 15px;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox .t1{
		font-size: 14px;
	}
	.staff-corner .year-box .box1 .things2 .box2 .tbox .t2{
		font-size: 12px;
	}


	.job-info .box{
		padding: 20px;
	}
	.job-info .box .title{
		font-size: 18px;
	}
	.job-info .box .txt{
		margin-top: 30px;
	}
	.job-info .box .back {
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
	}




}


