.ny-banner {
	width:100%;
	height:540px;
	position:relative;
	transition:all ease .5s;
}
.ny-banner .img {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	left:0;
	top:0;
}
.ny-banner .img img {
	max-width:initial;
	width:auto;
	height:100%;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
}
.ny-banner .boxs {
	position:relative;
	max-width:1600px;
	height:100%;
	z-index:2;
	margin:auto;
	color:#fff;
}
.ny-banner .boxs.n1 {
	padding-top:275px;
	letter-spacing:2px;
	transition:all ease .5s;
}
.ny-banner .boxs.n1 .t1 {
	font-size:36px;
	font-weight:bold;
	line-height:1;
}
.ny-banner .boxs.n1 .t2 {
	font-size:16px;
	line-height:30px;
	margin-top:12px;
}

.ny-banner .boxs.n2 .box {
	width:100%;
	padding-bottom:76px;
	position:absolute;
	left:0;
	bottom:60px;
}
.ny-banner .boxs.n2 .box .t1 {
	font-size:30px;
	line-height:30px;
	font-weight:bold;
	color:#fff;
}
.ny-banner .boxs.n2 .box .t2 {
	font-size:14px;
	line-height:24px;
	color:#fff;
	margin-top:14px;
}

.ny-banner .boxs .breadcrumbs {
	position:absolute;
	right:0;
	bottom:0;
	line-height:60px;
	font-size:14px;
	color:#7e7e7e;
	letter-spacing:2px;
	padding-left:25px;
	background:url(../images/icon23.png) left center no-repeat;
}
.ny-banner .boxs .breadcrumbs a {
	color:#7e7e7e;
	transition:all ease .3s;
}
.ny-banner .boxs .breadcrumbs a:hover {
	color:#fff;
}
.ny-banner .boxs .breadcrumbs span {
	color:#fff;
}
.ny-banner .nb-menu {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:60px;
	background:rgba(0,0,0,.25);
}
.ny-banner .nb-menu ul {
	max-width:1600px;
	margin:auto;
	padding-top:13px;
	position:relative;
	z-index:5;
}
.ny-banner .nb-menu ul li {
	float:left;
	margin-right:3px;
}
.ny-banner .nb-menu ul li a {
	font-size:14px;
	color:#fff;
	line-height:35px;
	padding:0 20px;
	display:block;
	transition:all ease .3s;
	border-radius:15px;
}
.ny-banner .nb-menu ul li:hover a {
	color:#222;
	background:#fff;
}
.ny-banner .nb-menu ul li.on a {
	color:#222;
	background:#fff;
}

.case {
	width:100%;
	background:#f7f7f7;
}
.case .box {
	max-width:1600px;
	margin:auto;
	display:table;
}
.case .box .case-list {
	width:100%;
	display:table;
	padding:40px 0 80px;
}
.case .box .case-list li {
	width:32.5%;
	height:550px;
	float:left;
	background:#fff;
	margin-right:1.25%;
	margin-bottom:20px;
	transition:all ease .5s;
}
.case .box .case-list li:nth-child(3n) {
	margin-right:0;
}
.case .box .case-list li a {
	width:100%;
	display:block;
}
.case .box .case-list li .img {
	width:100%;
	overflow:hidden;
	position:relative;
}
.case .box .case-list li .img:before {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:url(../images/icon37.png) center center no-repeat;
	content:"";
	z-index:3;
	opacity:0;
	transition:all ease .5s;
}
.case .box .case-list li .img:after {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:url(../images/icon40.png) center center no-repeat;
	content:"";
	z-index:2;
	opacity:0;
	transition:all ease .5s;
}
.case .box .case-list li .img img {
	width:100%;
	transition:all ease .5s;
}
.case .box .case-list li .tbox {
	width:100%;
	padding:30px;
}
.case .box .case-list li .tbox .t1 {
	font-size:22px;
	line-height:24px;
	color:#222;
	margin-bottom:24px;
	transition:all ease .5s;
}
.case .box .case-list li .tbox .t2 {
	font-size:14px;
	line-height:24px;
	color:#666;
	margin-bottom:30px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.case .box .case-list li .tbox .t3 {
	font-size:14px;
	line-height:24px;
	color:#999;
	background:url(../images/icon38.png) 68px center no-repeat;
	transition:all ease .5s;
}
.case .box .case-list li:hover {
	box-shadow:0 0 25px 0 rgba(0,0,0,.15);
}
.case .box .case-list li:hover .img:before {
	opacity:1;
}
.case .box .case-list li:hover .img:after {
	opacity:1;
}
.case .box .case-list li:hover .img img {
	transform:scale(1.1);
}
.case .box .case-list li:hover .tbox .t1 {
	color:#21abd7;
}
.case .box .case-list li:hover .tbox .t3 {
	color:#222;
	background:url(../images/icon39.png) 68px center no-repeat;
}


.case-info {
	max-width:1680px;
	margin:-60px auto 80px;
	background:#fff;
	position:relative;
	z-index:2;
	padding:44px 30px 42px;
	display:table;
}
.case-info .leftbox {
	width:63%;
	float:left;
}
.case-info .leftbox .txt {
	font-size:14px;
	line-height:24px;
	color:#222;
}
.case-info .leftbox .other-solution {
	width:100%;
	border-top:1px solid #f1f1f1;
	margin-top:54px;
	padding-top:37px;
}
.case-info .leftbox .other-solution .t1 {
	font-size:18px;
	line-height:24px;
	color:#c3c3c3;
}
.case-info .leftbox .other-solution .list {
	width:100%;
	display:table;
	margin-top:12px;
}
.case-info .leftbox .other-solution .list li {
	width:33.3%;
	float:left;
	padding-left:15px;
	position:relative;
}
.case-info .leftbox .other-solution .list li:after {
	content:"";
	width:4px;
	height:4px;
	background:#999;
	position:absolute;
	left:0;
	top:21px;
}
.case-info .leftbox .other-solution .list li a {
	width:100%;
	display:block;
	font-size:16px;
	line-height:46px;
	transition:all ease .5s;
}
.case-info .leftbox .other-solution .list li:hover a {
	color:#21abd7;
}
.case-info .leftbox .other-case {
	margin-top:46px;
	border-top:1px solid #f1f1f1;
}
.case-info .leftbox .other-case .t1 {
	font-size:18px;
	line-height:30px;
	color:#999;
	margin-top:33px;
}
.case-info .leftbox .other-case .list {
	width:100%;
	display:table;
	margin-top:24px;
}
.case-info .leftbox .other-case .list li {
	float:left;
	width:31.7%;
	margin-right:2.45%;
}
.case-info .leftbox .other-case .list li:nth-child(3n) {
	margin-right:0;
}
.case-info .leftbox .other-case .list li a {
	width:100%;
	display:block;
}
.case-info .leftbox .other-case .list li .img {
	width:100%;
	overflow:hidden;
}
.case-info .leftbox .other-case .list li .img img {
	width:100%;
	transition:all ease .5s;
}
.case-info .leftbox .other-case .list li:hover .img img {
	transform:scale(1.1);
}
.case-info .leftbox .other-case .list li .t2 {
	font-size:14px;
	line-height:30px;
	color:#222;
	padding-left:10px;
	margin-top:12px;
	transition:all ease .5s;
}
.case-info .leftbox .other-case .list li:hover .t2 {
	color:#21abd7;
}

.case-info .rightbox {
	width:29%;
	float:right;
}
.case-info .rightbox .img {
	width:100%;
}
.case-info .rightbox .about-news {
	width:100%;
	padding-left:30px;
	margin-top:56px;
        border-left: 1px solid #f1f1f1;
}
.case-info .rightbox .about-news .t1 {
	font-size:18px;
	line-height:24px;
	color:#c3c3c3;
}
.case-info .rightbox .about-news .list {
	width:100%;
	margin-top:7px;
}
.case-info .rightbox .about-news .list li {
	border-bottom:1px dashed #ccc;
	padding-bottom:25px;
	margin-bottom:14px;
}
.case-info .rightbox .about-news .list li:last-child {
	border-bottom:none;
}
.case-info .rightbox .about-news .list li a {
	width:100%;
	display:block;
}
.case-info .rightbox .about-news .list li .t2 {
	font-size:16px;
	line-height:50px;
	color:#222;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	transition:all ease .5s;
}
.case-info .rightbox .about-news .list li:hover .t2 {
	color:#21abd7;
}
.case-info .rightbox .about-news .list li .t3 {
	font-size:14px;
	line-height:24px;
	color:#666;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.case-info .rightbox .about-news .list li .t4 {
	font-size:14px;
	line-height:24px;
	color:#999;
}

@media(max-width:1660px) {
	.ny-banner .boxs {
		margin:0 30px;
	}
	.ny-banner .nb-menu {
		padding-left:30px;
	}
        .case .box .case-list li {
	height:488px;
       }
}
@media(max-width:1400px) {
      .case .box {
		padding:0 30px;
	}

}
@media(max-width:1370px) {
	.ny-banner {
		height:400px;
	}
	.ny-banner .boxs.n1 {
		padding-top:193px;
	}

}
@media(max-width:1200px) {
	.ny-banner .boxs.n2 .box .t2 {
		padding:10px;
		line-height:30px;
	}

	.case .box .case-list li{
		height: 400px;
	}
	.case .box .case-list li .tbox{
		padding: 30px 20px;
	}
	.case-info .leftbox{
		width: 70%;
	}
	.case-info .leftbox .other-solution .list li a{
		font-size: 14px;
	}

}


@media(max-width:900px) {

	.ny-banner .boxs.n1 .t1{
		font-size: 24px;
	}
	.ny-banner .nb-menu{
		height: 50px;
	}
	.ny-banner .boxs .breadcrumbs{
		line-height: 50px;
		left: 0;
	}
	.case .box .case-list{
		padding: 30px 0;
	}
	.case .box .case-list li{
		width: 48%;
		margin-right: 4%;
	}
	.case .box .case-list li:nth-child(3n) {
		margin-right:4%;
	}
	.case .box .case-list li:nth-child(2n){
		margin-right: 0;
	}
	.case .box .case-list li .tbox .t1{
		margin-bottom: 10px;
	}
	.case .box .case-list li .tbox .t2{
		margin-bottom: 15px;
	}

	.ny-banner .boxs.n2 .box{
		padding-bottom: 50px;
	}
	.ny-banner .boxs.n2 .box .t1{
		font-size: 24px;
	}
	.ny-banner .boxs.n2 .box .t2{
		padding: 10px 0;
	}
	.case-info .leftbox{
		width: 100%;
	}
	.case-info .rightbox{
		display: none;
	}


}

@media(max-width:767px) {
	
	.ny-banner .boxs.n1 .t1{
		font-size: 20px;
	}
	.ny-banner .boxs.n1 .t2{
		font-size: 14px;
		line-height: 20px;
	}
	.ny-banner .boxs .breadcrumbs{
		font-size: 12px;
		left: 0;
	}
	.case .box .case-list li{
		width: 100%;
		height: auto;
		margin-right: 0;
	}
	.case .box .case-list li:nth-child(3n){
		margin-right: 0;
	}
	.ny-banner .boxs.n2 .box .t2{
		margin-top: 0;
		line-height: 20px;
	}
	.case-info{
		padding: 24px 10px 24px;
		margin: -60px auto 40px;
	}
	.case-info .leftbox .other-solution{
		margin-top: 25px;
		padding-top: 25px;
	}
	.case-info .leftbox .other-solution .t1{
		font-size: 16px;
	}
	.case-info .leftbox .other-solution .list li{
		width: 50%;
	}
	.case-info .leftbox .other-solution .list li:after{
		top: 15px;
	}
	.case-info .leftbox .other-solution .list li a{
		font-size: 12px;
		line-height: 30px;
	}
	.case-info .leftbox .other-case{
		margin-top: 25px;
	}
	.case-info .leftbox .other-case .t1{
		font-size: 16px;
		margin-top: 20px;
	}
	.case-info .leftbox .other-case .list{
		margin-top: 15px;
	}
	.case-info .leftbox .other-case .list li{
		width: 100%;
		margin-right: 0;
	}
	.case .box{
		padding: 0 20px;
	}
	.case .box .case-list{
		padding: 30px 0;
	}
	.case .box .case-list li .tbox{
		padding: 20px 15px;
	}
	.case .box .case-list li .tbox .t1{
		font-size: 20px;
	}



}




